.topbar {
  max-height: 3rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px var(--tomato-6) solid;
  background-color: var(--mauve-1);
  color: var(--mauve-12);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
}

.link {
  color: var(--blue-11);
  font-size: 1.5rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
