.linkPreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}

.thumbnail {
  max-width: 200px;
  max-height: 100px;
}

.link {
  color: var(--blue-11);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  max-width: 20rem;
}

.link:hover {
  text-decoration: underline;
}
