.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textarea {
  font-family: var(--sans-serif);
  padding: 0.75rem;
  font-size: 0.875rem;
  border: 1px var(--mauve-7) solid;
  border-radius: 0.5rem;
  resize: none;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

.submitButton,
.cancelButton {
  font-family: var(--sans-serif);
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--mauve-12);
  letter-spacing: 1px;
}

.submitButton {
  background-color: var(--indigo-9);
}

.submitButton:hover {
  background-color: var(--indigo-10);
}

.cancelButton {
  background-color: var(--mauve-9);
}

.cancelButton:hover {
  background-color: var(--mauve-10);
}
