.comment {
  display: flex;
}

.commentVotes {
  display: flex;
  flex-direction: column;
}

.threadlineWrapper {
  display: flex;
  height: 100%;
  padding: 0 0.25rem;
  width: 2px;
  align-self: center;
}

.threadlineWrapper:hover .threadline {
  background-color: var(--indigo-9);
}

.threadline {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--mauve-7);
  width: 2px;
  align-self: center;
}

.commentContent {
  padding-top: 0.75rem;
  width: 100%;
}

.author {
  font-size: 0.75rem;
  color: var(--indigo-11);
}

.points {
  font-size: 0.75rem;
  color: var(--mauve-11);
}

.body {
  margin: 0.5rem 0;
  font-size: 0.875rem;
}
