@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1);
  }
}

.loading {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.loaderDot {
  width: 1rem;
  height: 1rem;
  background-color: var(--tomato-8);

  border-radius: 100%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loaderDot:nth-child(1) {
  animation-delay: -0.32s;
}

.loaderDot:nth-child(2) {
  animation-delay: -0.16s;
}
