.votes {
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}

.voteButton {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  padding: 0.25rem;
  font-weight: bold;
  color: var(--mauve-11);
  border-radius: 0.25rem;
}

.voteButton:hover {
  background-color: var(--mauve-8);
}

.upvote {
  color: var(--mauve-11);
}

.upvote:hover {
  color: var(--tomato-11);
}

.upvote.voted {
  color: var(--tomato-10);
}

.downvote {
  color: var(--mauve-11);
}

.downvote:hover {
  color: var(--indigo-11);
}

.downvote.voted {
  color: var(--indigo-11);
}

.score {
  color: var(--mauve-12);
}

.score.up {
  color: var(--tomato-11);
}

.score.down {
  color: var(--indigo-11);
}
