.votes {
  flex-direction: row;
  padding: 0 0.25rem;

  font-weight: bold;
  display: flex;
  border-radius: 0.5rem;
  gap: 0.25rem;
  align-items: center;
}

.voteButton {
  font-size: 0.5rem;
  padding: 0.1rem;

  border: none;
  background-color: transparent;

  font-weight: bold;
  color: var(--mauve-11);
  border-radius: 0.25rem;
}

.voteButton:hover {
  background-color: var(--mauve-8);
}

.upvote {
  color: var(--mauve-11);
}

.upvote:hover {
  color: var(--tomato-11);
}

.upvote.voted {
  color: var(--tomato-10);
}

.downvote {
  color: var(--mauve-11);
}

.downvote:hover {
  color: var(--indigo-11);
}

.downvote.voted {
  color: var(--indigo-11);
}

.score {
  color: var(--mauve-12);
  font-size: 0.75rem;
}

.score.up {
  color: var(--tomato-11);
}

.score.down {
  color: var(--indigo-11);
}

@media (min-width: 640px) {
  .votes {
    flex-direction: column;
    padding: 0.5rem;
  }

  .voteButton {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .score {
    font-size: 1rem;
  }

  .smallScore {
    font-size: 0.75rem;
  }

  .horizontal {
    flex-direction: row;
    padding: 0 0.25rem;
  }
}
