.post {
  display: flex;
  border: 1px var(--tomato-7) solid;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--mauve-1);
}

.clickable {
  cursor: pointer;
}

.clickablePost:hover {
  border: 1px var(--tomato-8) solid;
}

.postVotes {
  background-color: var(--mauve-2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent {
  padding: 1rem;
}

.subreddit {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--mauve-11);
}

.author {
  font-size: 0.75rem;
  color: var(--indigo-11);
}

.title {
  color: var(--mauve-12);
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 4rem 1fr;
  height: 100%;
  width: 100%;
}

.link:hover {
  text-decoration: none;
}

.notClickable {
  cursor: default;
}
