.post {
  display: flex;
  border: 1px var(--tomato-7) solid;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--mauve-1);
}

.clickable {
  cursor: pointer;
}

.clickablePost:hover {
  border: 1px var(--tomato-8) solid;
}

.link {
  grid-template-columns: auto;
  grid-template-rows: auto 2.5rem;
  grid-template-areas:
    "content content"
    "votes votes";

  text-decoration: none;
  display: grid;

  height: 100%;
  width: 100%;
  color: var(--mauve-12);
}

.link:hover {
  text-decoration: none;
}

.postVotes {
  flex-direction: row;

  grid-area: votes;
  display: flex;
  background-color: var(--mauve-2);
  border-radius: 0.5rem;
  align-items: center;
}

.postContent {
  grid-area: content;
  padding: 1rem;
}

.subreddit {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--mauve-11);
}

.author {
  font-size: 0.75rem;
  color: var(--indigo-11);
}

.title {
  color: var(--mauve-12);
  overflow: hidden;
  text-overflow: ellipsis;
}

.notClickable {
  cursor: default;
}

.postMeta {
  flex-direction: column;
  display: flex;
}

.dot {
  display: none;
  color: var(--indigo-11);
}

.self {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow-wrap: anywhere;
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  .link {
    grid-template-columns: 4rem 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "votes content"
      "votes content";
  }

  .postVotes {
    flex-direction: column;
  }

  .postMeta {
    flex-direction: row;
    gap: 0.25rem;
  }

  .dot {
    display: block;
  }
}
